/**
 * @name Quarral
 * @author Leeprky#2063
 * @version 0.1
 * @description Based Off The Quarral Client.
 * @source https://github.com/leeprky/Quarral
*/

/*  ------------------------------------------

            Peninsula Theme (BetterDiscord)
                      v0.1
                - leeprky#2063 -

    ------------------------------------------  */

/* Sources */
@import url();
@import url(https://raw.githack.com/leeprky/FullyThemedDiscord/main/FullyThemedDiscord.theme.css);

/* ===========================================
         USRBG Popouts by Tropix126.
=========================================== */

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

/* ===========================================
         USRBG Popouts by Tropix126.
=========================================== */

/*  ------------------------------------------
              Peninsula Configuration
                      v0.1
                - leeprky#2063 -
    ------------------------------------------  */

/* Peninsula Dark */
.theme-dark {
        
  /* Lode Specific */
--bd-color: #3E82E5;
--bd-color-hover: #366fc5;
--alt-color: 114, 137, 218; /* RGB */
--alt-color2: #7289DA; /* HEX */

--green-color: #43B581;
--green-bar-on: var(--green-color);
--green-bar-bg: #151925;
--green-slider-on: var(--green-color);
--green-slider-off: #25272b;
--green-slider-dot: #fff;

/* Other */
--scrollbars: none; /* none or unset */
--call-bg: url(https://i.imgur.com/7QJkSkJ.png); /* None To Disable */
--call-bg-colour: var(--background-accent); /* Image Overwrites */

  /* Keeping Consistancy With Discord */ 
--serverlist-background: var(--background-tertiary);
--memberlist-background: #36393f;
--win-titlebar: var(--background-tertiary);

 /* Header Colors */
 --header-primary: #fff;
 --header-secondary: #b9bbbe;

 /* Text Colours */
 --text-normal: #dcddde;
 --text-muted: #72767d;
 --text-link: #00b0f4;
 --channels-default: #8e9297;
 --interactive-normal: #b9bbbe;
 --interactive-hover: #dcddde;
 --interactive-active: #fff;
 --interactive-muted: #4f545c;

 /* Chat */
 --channeltextarea-background: var(--background-primary);

 /* Background Colours */
 --background-primary: #36393f;
 --background-primary-alt: #2f3136;
 --background-secondary: #2f3136;
 --background-secondary-alt: #292b2f;
 --background-tertiary: #202225;
 --background-accent: #4f545c;
 --background-floating: #18191c;

 /* Hovering Colours */
--background-modifier-hover: rgba(56, 168, 151, 0.459);
--background-modifier-active: rgba(56, 168, 151, 0.521);
--background-modifier-selected: rgba(56, 168, 151, 0.178);
--background-modifier-accent: rgba(56, 168, 151, 0.418);
--background-message-hover: transparent;

 /* Mentioned  Colours */
 --background-mentioned: rgba(250,166,26,0.05);
 --background-mentioned-hover: rgba(250,166,26,0.08);
 --background-mentioned-bar: var(--background-accent);

 --background-help-warning: rgba(250,166,26,0.1);
 --background-help-info: rgba(0,176,244,0.1);

 /* Scrollbar Colours */
 --background-modifier-hover: rgba(79,84,92,0.16);
 --background-modifier-active: rgba(79,84,92,0.24);
 --background-modifier-selected: rgba(79,84,92,0.32);
 --background-modifier-accent: hsla(0,0%,100%,0.06);
 --scrollbar-auto-scrollbar-color-thumb: rgba(79,84,92,0.16);

/* Box Shadow On Floating Elements Colours */
--elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
--elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
--elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
--elevation-high: 0 8px 16px rgba(0,0,0,0.24);

/* Other */
--radio-group-dot-foreground: var(--alt-color);
}

.theme-dark {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --background-mentioned: rgba(250,166,26,0.05);
  --background-mentioned-hover: rgba(250,166,26,0.08);
  --background-message-hover: rgba(4,4,5,0.07);
  --background-help-warning: rgba(250,166,26,0.1);
  --background-help-info: rgba(0,176,244,0.1);
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --focus-primary: #00b0f4;
  --radio-group-dot-foreground: #8ea1e1;
  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

/* Peninsula Light  */

.theme-light {
        
  /* Lode Specific */
  --bd-color: #1bb69f;
  --bd-color-hover: #16927f;
  --alt-color: 83, 182, 167; /* RGB */
  --alt-color2: #53b6a7; /* HEX */
  
  --icons-color: #eef3f2;
  --icons-color-hover: #1bb69f;
            
  --green-color: #2C344D; 
  --green-bar-on: var(--greenple-color);
  --green-bar-bg: #151925;
  --green-slider-on: var(--greenple-color);
  --green-slider-off: rgb(48, 48, 54);
  --green-slider-dot: #fff;

  /* Icons */
  --home-icon: url(https://cdn.discordapp.com/attachments/733624227378495488/776180439010246656/home-icon.svg);

  /* Other */
  --scrollbars: none; /* none or unset */
  --call-bg: url(https://i.imgur.com/7QJkSkJ.png); /* None To Disable */
  --call-bg-colour: var(--background-accent); /* Image Overwrites */


  /* Keeping Consistancy With Discord */ 
  --serverlist-background: #cad7e0;
  --memberlist-background: #cad7e0;
  --win-titlebar: var(--background-tertiary);

  /* Making Things Round */ /* Four Numbers = Four Corners */
  --modal-border-radius: 15px 15px 15px 15px;
  --floating-border-radius: 15px 15px 15px 15px;
  --expanded-border-radius: 15px 15px 15px 15px;
  --hover-border-radius: 10px 10px 10px 10px;
  --avatar-border-radius: 11.5px 11.5px 11.5px 11.5px; /* Serverlist Too */
  --avatar-border-radius-hover: 5.5px 5.5px 5.5px 5.5px;
  --chat-text-border-radius: 12px 12px 12px 12px;

    /* ROUND THINGS */
  --borders-radius: 12px;
  --borders-radius-right: 6px;
  --borders-radius-left: 6px;
  --borders-radius-bottom: 6px;
  --borders-radius-top: 4px;

  --titlebar-borders-radius: 12px;
  --titlebar-borders-radius-right: 12px;
  --titlebar-borders-radius-left: 8px;
  --titlebar-borders-radius-bottom: 10px;
  --titlebar-borders-radius-top: 8px;

  --spotify-right: 1.7rem;

    /* Watermark */
  --watermark-text: "LODE";
  --watermark-version: "v1.0.4";
  --watermark-text-top: 14px;
  --watermark-text-left: 3.4rem;
  --watermark-gradient: 270deg, #79a9d0, #1ddaa1;

 /* Header Colours Colors */
  --modal-normal-primary-color: #c6d4df;
  --modal-normal-secondary-color: #c6d4df;
  --spotify-color: var(--alt-color2);
  --playing-color: var(--alt-color2);
  --streaming-color: #4d2b86;

    /* Header Colors */
  --header-primary: #0f0f0e;
  --header-secondary: rgb(43, 45, 46);

 /* Text Colours */
  --text-normal: #111010;
  --text-muted: var(--alt-color2);
  --text-link: var(--alt-color2);
  --channels-default: #242221;
  --interactive-normal: #080808;
  --interactive-hover: #1a1818;
  --interactive-active: rgb(19, 17, 17);
  --interactive-muted: #505355;

 /* Chat */
  --channeltextarea-background: #cbcbda;
  --channeltextarea-background-hover: #f5f6fa;

 /* Background Colours */
  --background-primary: #cad7e0;
  --background-titlebar: #cbd7e0;
  --background-primary-alt: #cbd7e0;
  --background-secondary: #dce5ec;
  --background-secondary-alt: #dce5ec;
  --background-tertiary: #eceff3;
  --background-accent: var(--alt-color2);
  --background-accent-gradient: #0f7464;
  --background-floating: #bbc8d1;

 /* Hovering Colours */
  --background-modifier-hover: rgba(56, 168, 151, 0.411);
  --background-modifier-active: rgba(56, 168, 151, 0.651);
  --background-modifier-selected: rgba(56, 168, 151, 0.37);
  --background-modifier-accent: rgba(56, 168, 151, 0.534);
  --background-message-hover: transparent;

 /* Mentioned  Colours */
  --background-mentioned: rgba(56, 168, 151, 0.308);
  --background-mentioned-hover: rgba(56, 168, 151, 0.425);
  --background-mentioned-bar: var(--background-accent);

  --background-help-warning: rgba(56, 168, 151, 0.233);
  --background-help-info: rgba(244, 8, 0, 0.164);

    /* Scrollbar Colours */
  --scrollbar-thin-thumb: rgba(56, 168, 151, 0.397);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(56, 168, 151, 0.363);
  --scrollbar-auto-track: rgba(56, 168, 151, 0.363);
  --scrollbar-auto-scrollbar-color-thumb: rgba(56, 168, 151, 0.384);

    /* Box Shadow On Floating Elements Colours */
  --elevation-stroke: 0 0 0 1px rgba(22, 24, 26, 0.329);
  --elevation-low: 0 1px 0 rgba(22, 25, 26, 0.329);
  --elevation-medium: 0 4px 4px rgba(22, 25, 26, 0.329);
  --elevation-high: 0 8px 16px rgba(22, 25, 26, 0.329);

    /* Other */
  --radio-group-dot-foreground: var(--alt-color);
}

/* xtras */
.guilds-1SWlCJ{background-color:var(--serverlist-background)}
.members-1998pB,.members-1998pB>div{background-color:var(--memberlist-background)}
.guilds-1SWlCJ{background-color:var(--serverlist-background-light)}
.powercord-toast .contents{background-color:var(--toast-content)}

/* Bd Blue */
.bd-button, .bd-server-tag, .bd-addon-views .bd-view-button.selected  {
  background-color: var(--bd-color); 
}
.bd-button:hover {
  background-color: var(--bd-color-hover); 
}
#bd-pub-button:hover {
  background-color: var(--bd-color-hover); 
}
/*  ----------------------------------------------------
                  Optional Features
        Add A "/*" On The Lines Below The Comments
                  To Disable Them
    ----------------------------------------------------  */

    /*  ----------------------------------------------------
           ANYTHING ELSE YOU WANT TO ADD GOES BELOW
                  THIS IS FOR DEBUGGING ETC
                         v1.0.5 (Lode)
    ----------------------------------------------------  */
